<li class="{% if item.id == active_id %}active{% endif %}">
    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
    {% if item.children %}
        <ul class="submenu" style="{% if item.id in expanded_ids %}opacity: 1; max-height: 500px;{% else %}opacity: 0; max-height: 0;{% endif %}">
            {% for child in item.children %}
                {% include "menu/menu_item.html" with item=child active_id=active_id expanded_ids=expanded_ids %}
            {% endfor %}
        </ul>
    {% endif %}
</li>